[Unit]
Description=Url Shortener
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/GoURLShortener
ExecStart=/root/apps/GoURLShortener/GoURLShortener
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/GoURLShortener/config.env

[Install]
WantedBy=multi-user.target